{% extends "base.html" %}

{% block title %}
{% if userposts %}
{{ userposts[2] }}
{% else %}
flask app
{% endif %}
{% endblock %}

{% block content %}
    <div>
        <p>{{ user_name }}</p>
    </div>
    {% for (article_id, title, body, user_name) in userposts %}
        <div class="container border border-dark m-2 p-2"> 
            <h3>{{ title }}</h3>
            <a class="btn btn-primary" href="{{ url_for('read', username=user_name, article_id=article_id) }}">Detail</a>
            {% if user_name == session.get('username') %}
               <a class="btn btn-warning" href="{{ url_for('edit',username=user_name, article_id=article_id) }}">Edit</a>
               <button type="button" class="btn btn-danger" onclick="deleteArticle({{ article_id }}, {{ '\"%s\"' % title }})">Delete</button>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
