{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="row">
        <!-- create is only able for logged in users -->
        {% if session and session.get('username') %}
        <div>
            <a class="btn btn-success" href="{{ url_for('create') }}">Create</a>
        </div>
        {% endif %}

        {% if articles %}
        <div class="grid">
            {% for (article_id, title, body,  user_name) in articles %}
            <div class="g-col-6 mt-4 p-2 border border-dark">
                <div class="">
                    <p><a class="text-dark" id="userLoggedIn" href="{{ url_for('userpage', username=user_name) }}">{{ user_name }}</a></p>
                </div>
                <h4 class="font-weight-bold">{{ title|upper }}</h4>

                <!-- notice here, in url_for, we have second parameter to accept -->
                <a class="btn btn-primary" href="{{ url_for('read', username=user_name, article_id=article_id) }}">Read Article</a>

                <!-- only let logged in user see the edit and delete -->
                {% if user_name == session.get('username') %}
                    <a class="btn btn-warning" href="{{ url_for('edit', username=user_name, article_id=article_id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('delete', username=user_name, article_id=article_id) }}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>No Articles Found</h1>
        {% endif %}
        
    </div>
{% endblock %}
