{% extends "base.html" %}

{% block title %}
Register account
{% endblock %}

{% block content %}
<form action="POST" class="m-7">
    <label for="username" class="form-label mt-4">Username</label>
    <input id="username" type="text" name="username" placeholder="Input your username" class="form-control mt-2">
    <label for="name" class="form-label mt-4">Name</label>
    <input id="name" type="text" name="name" placeholder="Input your name" class="form-control mt-2">
    <label for="password" class="form-label mt-4">Password</label>
    <input id="pass1" type="password" name="password" placeholder="Input your password" onkeyup="checkPass(); return false;" class="form-control mt-2">
    <label for="confirmPassword" class="form-label mt-4">Confirm Password</label>
    <input id="pass2" type="password" name="confirmPassword" placeholder="Repeat your password"  onkeyup="checkPass(); return false;" class="form-control mt-2">
    
    <button type="button" onclick="createUser()" id="createuser" class="btn btn-success mt-4">Register</button>
    <div id="errorMsg"></div>
</form>
{% endblock %}

