{% extends "base.html" %}

{% block title %}
Register account
{% endblock %}

{% block content %}
<form action="POST">
    <label for="username" class="form-label">Username</label>
    <input id="username" type="text" name="username" placeholder="Input your username" class="form-control">
    <label for="name" class="form-label">Name</label>
    <input id="name" type="text" name="name" placeholder="Input your name" class="form-control">
    <label for="password" class="form-label">Password</label>
    <input id="pass1" type="password" name="password" onkeyup="checkPass(); return false;" class="form-control">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input id="pass2" type="password" name="confirmPassword" onkeyup="checkPass(); return false;" class="form-control">
    
    <button type="button" onclick="createUser()" id="createuser" class="btn btn-success">Register</button>
    <div id="errorMsg"></div>
</form>
{% endblock %}

